[submodule "submodules/curobo"]
	path = submodules/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "submodules/agx_arm_ros"]
	path = submodules/agx_arm_ros
	url = https://github.com/agilexrobotics/agx_arm_ros.git
[submodule "submodules/pyAgxArm"]
	path = submodules/pyAgxArm
	url = https://github.com/LV-Robotics-Lab/pyAgxArm.git
